<ion-header>
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
      <img style="display:inline-block" height="40px" src="../../assets/icon/logo_Pinder.png"/>
      <ion-label>Pinder</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <button ion-button [routerLink]="['/registration']" expand="block" class="button-welcome button-register">Inscription</button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <button ion-button [routerLink]="['/login']" expand="block" class="button-welcome button-login">Connexion</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
