<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-label>Pinder</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="ion-text-center">
    <ion-title>Footer de Pinder</ion-title>
    <div>
      <ion-label style="font-size: small;">
        <a href="#">Conditions Générales</a>
        •
        <a href="#">En savoir plus</a>
      </ion-label>
    </div>
    
  </ion-toolbar>
</ion-footer>
