<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-label>Pinder</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let profil of default">
      <img src="../../assets/profil/{{profil.photo}}" />
      <ion-card-header>
        <ion-card-subtitle>{{profil.dateNaissance}}</ion-card-subtitle>
        <ion-card-title>{{profil.pseudo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{profil.description}}
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Bouton de connexion et de création de compte -->
  

</ion-content>

<ion-footer collapse="fade">
  <ion-toolbar class="ion-text-center">
    <ion-title>Footer de Pinder</ion-title>
    <div>
      <ion-label style="font-size: small;">
        <a href="#">Conditions Générales</a>
        •
        <a href="#">En savoir plus</a>
      </ion-label>
    </div>
    
  </ion-toolbar>
</ion-footer>
