<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input  [(ngModel)]="user.email" type="text" name="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password"  [(ngModel)]="user.motDePasse" name="motDePasse" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Connectez vous</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
