<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
        <img src="../../assets/icon/logo_Pinder.png"  height="40px" />
        <ion-label>Pinder</ion-label>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="3" size-lg="2" *ngFor="let pin of pins" >
       <p>oui</p>
        <p>non</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
